In [15]:
import time 
import datetime
import pandas as pd 

ticker = 'TSLA'
period1 = int(time.mktime(datetime.datetime(2020,1,1,12,15).timetuple()))
period2 = int(time.mktime(datetime.datetime(2023,1,8,12,15).timetuple()))
interval = '1wk'

query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [16]:
df = pd.read_csv(query_string)

In [17]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-01,28.299999,31.441999,28.114000,31.270666,31.270666,829885500
1,2020-01-08,31.580000,36.493999,31.215334,35.861332,35.861332,1920870000
2,2020-01-15,35.317333,36.571999,32.811333,36.480000,36.480000,1058071500
3,2020-01-22,38.125999,39.633331,35.952000,37.793331,37.793331,1361553000
4,2020-01-29,38.379333,64.599335,37.828667,59.137333,59.137333,2557954500
...,...,...,...,...,...,...,...
153,2022-12-07,175.029999,182.500000,156.910004,160.949997,160.949997,572367300
154,2022-12-14,159.250000,161.619995,137.660004,137.800003,137.800003,701002900
155,2022-12-21,139.339996,141.259995,108.760002,109.099998,109.099998,731140800
156,2022-12-28,110.349998,124.480003,104.639999,108.099998,108.099998,832173900
157,2023-01-04,109.110001,114.589996,101.809998,113.059998,113.059998,559286400